<div class="col-md-6"> <!--begin::Quick Example-->
    <div class="card card-primary card-outline mb-4"> <!--begin::Header-->
        <div class="card-header">
            <div class="card-title">Bank Input</div>
        </div> <!--end::Header--> <!--begin::Form-->
        <form action="/bank" method="POST"> <!--begin::Body-->
            <div class="card-body">
                <div class="form-group"> 
                    <label for="name" class="form-label">Bank Name</label> 
                    <input type="text" class="form-control" name="name" id="name" required>
                </div>
            </div> <!--end::Body--> <!--begin::Footer-->
            <div class="card-footer"> <button type="submit" class="btn btn-primary">Submit</button> </div> <!--end::Footer-->
        </form> <!--end::Form-->
    </div> <!--end::Quick Example--> <!--begin::Input Group-->
</div> <!--end::Col--> <!--begin::Col-->